@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@Html.Partial("_FirmModalPartial")
@Html.Partial("_YearModalPartial")

@section Scripts
{
    <script>
        $(function (e) {
            $('#LoginFirmModal').modal('show');
        
            $('#LoginFirmModal').on('shown.bs.modal', function () {
                getExistingBranchId();
            });
        });
    </script>
}