@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="modal fade" id="FirmModal" data-backdrop="static" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Select Firm (Branch)</h5>
            </div>
            <div class="modal-body" style="max-height: 74.5vh;">
                <div class="row mb-1">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="panel panel-success" style="max-height: 72.5vh; overflow-y: auto;">
                            <div class="list-group" id="firmBranchList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-primary mt-1" id="selectFirmBranch">
                    <i class="fa fa-save"></i>&nbsp;Select
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="YearModal" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Select Year</h5>
            </div>
            <div class="modal-body" style="max-height: 18vh;">
                <div class="row mb-1">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="panel panel-success" style="max-height: 15vh; overflow-y: auto;">
                            <div class="list-group" id="yearList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-primary mt-1" id="selectYear">
                    <i class="fa fa-save"></i>&nbsp;Select
                </a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnFirmBranchId" value="0" />
<input type="hidden" id="hdnYearId" value="0" />

@section Scripts
{
    <script>

        $(function (e) {
            getExistingBranchId();

            $('#selectFirmBranch').on('click', function () {

                if ($("#hdnFirmBranchId").val() == null || $("#hdnFirmBranchId").val() == "" || $("#hdnFirmBranchId").val() == 0) {
                    showWarning("", "Please select firm (Branch)");
                    return false;
                }

                bindFinanceYear();
            });

            $('#selectYear').on('click', function () {
                try {
                    if ($("#hdnYearId").val() == null || $("#hdnYearId").val() == "" || $("#hdnYearId").val() == 0) {
                        showWarning("", "Please select year");
                        $("#hdnYearId").focus();
                        return false;
                    }

                    var savedata = new Object();
                    savedata.LoggedInBranchId = getIntValueZero("hdnFirmBranchId");
                    savedata.LoggedInYear = getIntValueZero("hdnYearId");

                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("SaveLoginCustomerUser", "Customer"))",
                        data: JSON.stringify(savedata),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.result == RESULT_SUCCESS) {
                                $('#YearModal').modal('hide');
                            } else {
                                showError("", data.data);
                            }
                        },
                        error: function (error) {
                            showError("", error.statusText);
                        }
                    });

                }
                catch (e) {
                    unblockUI('container');
                    showError("", e.message);
                }
            });
        });

        function getExistingBranchId() {
            try {
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetCustomerExistsLoggedBranchAndYearId"))", "",
                    function (data) {
                        if (data.result == RESULT_SUCCESS) {
                            $("#hdnFirmBranchId").val(data.data.loggedInBranchId.toString());
                            $("#hdnYearId").val(data.data.loggedInYear.toString());

                            $('#FirmModal').modal('show');
                            bindFirmBranch();
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                showError("", e.message);
            }
        }

        function bindFirmBranch() {
            try {
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetCustomerBranchId"))", "",
                    function (data) {
                        var str = "";
                        if (data.result == RESULT_SUCCESS) {
                            var linkList = $("#firmBranchList");
                            linkList.empty();
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    if ($("#hdnFirmBranchId").val() == data.data[i].value) {
                                        var listItem = $("<a href='#' class='list-group-item active' data-id='" + data.data[i].value + "'>" + data.data[i].text + "</a>");
                                        linkList.append(listItem);
                                    } else {
                                        var listItem = $("<a href='#' class='list-group-item' data-id='" + data.data[i].value + "'>" + data.data[i].text + "</a>");
                                        linkList.append(listItem);
                                    }
                                }
                            } else {
                                var listItem = $("<a href='#' class='list-group-item'> Customer Firm Not Exists </a>");
                                linkList.append(listItem);
                            }
                            initFirmBranchListClickEvent();

                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                showError("", e.message);
            }
        }

        function initFirmBranchListClickEvent() {
            $("#firmBranchList").on("click", ".list-group-item", function () {
                $("#firmBranchList .list-group-item").removeClass("active");

                $(this).addClass("active");

                var selectedId = $(this).data("id");

                $("#hdnFirmBranchId").val(selectedId.toString());
            });
        }

        function bindFinanceYear() {
            try {
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetFinanceYearId"))" + "/" + $("#hdnFirmBranchId").val(), "",
                    function (data) {
                        var str = "";
                        if (data.result == RESULT_SUCCESS) {
                            $('#FirmModal').modal('hide');
                            $('#YearModal').modal('show');
                            var linkList = $("#yearList");
                            linkList.empty();
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    if ($("#hdnYearId").val() == data.data[i].value) {
                                        var listItem = $("<a href='#' class='list-group-item active' data-id='" + data.data[i].value + "'>" + data.data[i].text + "</a>");
                                        linkList.append(listItem);
                                    } else {
                                        var listItem = $("<a href='#' class='list-group-item' data-id='" + data.data[i].value + "'>" + data.data[i].text + "</a>");
                                        linkList.append(listItem);
                                    }
                                }
                            } else {
                                var listItem = $("<a href='#' class='list-group-item'> Year Not Exists </a>");
                                linkList.append(listItem);
                            }
                            initYearListClickEvent();
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                showError("", e.message);
            }
        }

        function initYearListClickEvent() {
            $("#yearList").on("click", ".list-group-item", function () {
                $("#yearList .list-group-item").removeClass("active");

                $(this).addClass("active");

                var selectedId = $(this).data("id");

                $("#hdnYearId").val(selectedId.toString());
            });
        }


    </script>
}