#global-loader {
    background: rgba(255, 255, 255, 0.6);
}

.breadcrumb-arrow {
    cursor: pointer;
}

.cancelled-row {
    background-color: #F5F5F5 !important;
}

.subtotal-row {
    font-weight: 500;
    background: #FDF5E6;
    /*color: #000080;*/
}

.total-row {
    font-weight: 550;
    background: #FDF5E6;
    /*color: #000080;*/
}
