@model Adroit.Accounting.Model.ViewModel.LRBookingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Chalan Receive</a></li>
                    <li class="active"><span>Branch</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">CHALLAN#</th>
                                    <th class="border-bottom-0">DATE</th>
                                    <th class="border-bottom-0">AMOUNT</th>
                                    <th class="border-bottom-0">TO CITY</th>
                                    <th class="border-bottom-0 text-center" style="width:80px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td>Edinburgh</td>
                                    <td>51</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Michael Bruce</td>
                                    <td>Javascript Developer</td>
                                    <td>Singapore</td>
                                    <td>29</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td>New York</td>
                                    <td>27</td>
                                    <td>
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="View"><i class="fa fa-info"></i></a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Chalan Receive</a></li>
                    <li><a href="#">Branch</a></li>
                    <li class="active"><span>Add/Edit (ID# 100)</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search E-Way Bill...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                        <a href="#" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save">
                            <span>
                                <i class="fa fa-save"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-blue text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Print">
                            <span>
                                <i class="fa fa-print"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-success text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Send">
                            <span>
                                <i class="fa fa-share-alt"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-danger text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                            <span>
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel">
                            <span>
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-1 form-label">Sender Name</label>
                                    <div class="col-md-5">
                                        <select class="form-control select2-show-search" id="">
                                            <option value="1">1 Branch [CITY]</option>
                                            <option value="1">2 Branch [CITY]</option>
                                            <option value="1">3 Branch [CITY]</option>
                                            <option value="1">4 Branch [CITY]</option>
                                        </select>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label mb-1">Arrival Date</label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text">
                                        </div>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">Godown No</label>
                                    <div class="col-md-2">
                                        <select class="form-control select2-show-search mode-ed" id="">
                                            <option value="1">1 Branch [CITY]</option>
                                            <option value="1">2 Branch [CITY]</option>
                                            <option value="1">3 Branch [CITY]</option>
                                            <option value="1">4 Branch [CITY]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-1 form-label">Branch Rec.No.</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label mb-1">Firm Rec.No</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">Chalan Search</label>
                                    <div class="col-md-2" style="display:flex;">
                                        <select class="form-control select2-show-search mode-ed" id="">
                                            <option value="1">1 Branch [CITY]</option>
                                            <option value="1">2 Branch [CITY]</option>
                                            <option value="1">3 Branch [CITY]</option>
                                            <option value="1">4 Branch [CITY]</option>
                                        </select>
                                        <span class="input-group-append">
                                            <button class="btn btn-primary" type="button" id="EWayBill-search"
                                                    data-container="body" data-toggle="popover" data-popover-color="default"
                                                    data-placement="bottom" title="Popover bottom">
                                                Go!
                                                </i>
                                            </button>
                                        </span>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label"></label>
                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-primary" data-toggle="modal"
                                           data-target="#lrChalanListModal" data-original-title="Select LR List">
                                            <span>
                                                <i class="fa fa-list"></i> Select LR
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-1 form-label">Chalan#</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label mb-1">Date</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">From</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-1 form-label">Vehicle#</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">Bill Party</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">Driver</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">E-Way Bill</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>


                                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12  p-0">
                                    <div class="card">
                                        <div class="card-header bg-primary" style="display:block">
                                            <!--header-->
                                            <div class="row mb-0">
                                                <div class="col-md-1">
                                                    <div class="row mb-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LRNumberId" class="font-weight-bold text-white">#</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LRNumber" class="font-weight-bold text-white">LR#</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="row mb-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LRDate" class="font-weight-bold text-white"> LR Date </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="PvtMark" class="font-weight-bold text-white"> Pvt.Mark </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Package" class="font-weight-bold text-white"> Package </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="ChargeWgt" class="font-weight-bold text-white"> Charge Wgt </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="ToCity" class="font-weight-bold text-white"> To City </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="FromCity" class="font-weight-bold text-white"> From City </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="TaxableAmt" class="font-weight-bold text-white"> Taxable Amt </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Description" class="font-weight-bold text-white"> Description </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Consignor" class="font-weight-bold text-white"> Consignor </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Consignee" class="font-weight-bold text-white"> Consignee </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="BillParty" class="font-weight-bold text-white"> Bill Party </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Action" class="font-weight-bold text-white">Action</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" style="max-height: 202px; overflow-x: auto; overflow-y: auto;">
                                            <div class="row">
                                                <div class="col-md-12" id="contentRow"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">

                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">Total LR(Selected)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Total Pkg(Selected)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Total Weight(Selected)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                </div>

                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">Total LR(Declined)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Total Pkg(Declined)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Total Weight(Declined)</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label"></label>
                                    <label for="exampleInputname" class="col-md-1 form-label text-center">Selected</label>

                                    <label for="exampleInputname" class="col-md-1 form-label text-center">Declined</label>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">[TO PAY]</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Charged To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Lorry Hire/ Freight</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">Paid</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-4 form-label"></label>
                                    <label for="exampleInputname" class="col-md-2 form-label">Less TDS</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">TBB</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-4 form-label"></label>
                                    <label for="exampleInputname" class="col-md-2 form-label">Cash To Lorry Trip</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">Total</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-4 form-label"></label>
                                    <label for="exampleInputname" class="col-md-2 form-label">Bank Transfer To Lorry Trip</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">[CHARGE 1]</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Charged To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Received Cash By Driver</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">[CHARGE 2]</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Charged To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Other Exp of Trip</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">[CHARGE 3].</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Charged To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">Other Less</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-2 form-label">[CHARGE 4]</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Charged To</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly tabindex="-1">
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label">NET AMOUNT</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label for="exampleInputname" class="col-md-2 form-label">Brokerage</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-md-2 form-label mb-1">Broker</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mb-1">
                                <label for="exampleInputname" class="col-md-2 form-label">Remarks</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mb-1">
                                <label for="exampleInputname" class="col-md-2 form-label">Note</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-primary mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn btn-blue mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn btn-success mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn btn-danger mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-back btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>

<!--LRChalanListModal start-->
<div id="lrChalanListModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg m-5" role="document" style="min-width: -webkit-fill-available; min-height: -webkit-fill-available;">
        <div class="modal-content ">
            <div class="modal-header pd-x-20">
                <h5 class="modal-title col-md-1" style="align-self:center;">LR List</h5>
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body pd-20">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-bottom-0"><input type="checkbox" /></th>
                                <th class="border-bottom-0">#</th>
                                <th class="border-bottom-0">LR#</th>
                                <th class="border-bottom-0">LR Date</th>
                                <th class="border-bottom-0">Pvt.Mark</th>
                                <th class="border-bottom-0">Package.</th>
                                <th class="border-bottom-0">Chg. Weight</th>
                                <th class="border-bottom-0">To City</th>
                                <th class="border-bottom-0">From City</th>
                                <th class="border-bottom-0">Taxable Amount</th>
                                <th class="border-bottom-0">Description</th>
                                <th class="border-bottom-0">Consignor</th>
                                <th class="border-bottom-0">Consignee</th>
                                <th class="border-bottom-0">Bill Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Tiger Nixon Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Tiger Nixon Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Tiger Nixon Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-primary">Add</a>
                <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!--LRChalanListModal end-->
@section Scripts
    {
    <script>

        $(function (e) {

            $('.dv-list').show();
            $('.dv-detail').hide();

        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            $(".btn-delete").hide();
        }

    </script>
}
