<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-12 col-sm-12   text-center">
                Copyright © 2023 <a href="#">Adroit IBS Pvt Ltd</a>. Designed by <a href="http://adroit-ibs.com/">Adroit IBS Pvt Ltd</a>. All rights reserved.
            </div>
        </div>
    </div>
</footer>