<div class="modal fade" id="LoginFirmModal" data-backdrop="static" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="align-items:center;">
                <h5 class="modal-title" id="example-Modal3">Branch</h5>
                <div class="d-flex order-lg-2 ml-auto header-rightmenu">
                    <div class="header-form">
                        <form class="form-inline">
                            <div class="search-element">
                                <input id="searchFirmInput" class="form-control pr-6 mt-0" type="search" placeholder="Search" aria-label="Search">
                                <span class="Search-icon" style="right:26px;"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-body" style="max-height: 74.5vh;">
                <div class="row mb-1">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="panel panel-success" style="max-height: 72.5vh; overflow-y: auto;">
                            <div class="list-group" id="loginfirmBranchList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnLoggedInFirmBranchId" value="0" />