<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-12 col-sm-12   text-center">
                Copyright © 2021 <a href="#">Trackoit</a>. Designed by <a href="https://www.adroitibs.com/">Adroit IBS Pvt.Ltd.</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>