<div class="horizontal-main hor-menu clearfix">
                <div class="horizontal-mainwrapper clearfix">
                    <nav class="horizontalMenu clearfix">
                        <a class="horizontal-right-icon" href="#">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <ul class="horizontalMenu-list">
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="typcn typcn-device-desktop hor-icon"></i> Dashboard <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true"><a href="index.html">Dashboard 01</a></li>
                                    <li aria-haspopup="true"><a href="index2.html">Dashboard 02</a></li>
                                </ul>
                            </li>
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="typcn typcn-th-large-outline hor-icon"></i> Master <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Adroit</a>
                                        <ul class="sub-menu">
                                            <!--<li aria-haspopup="true"><a href="#">Profile</a></li>-->
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Software</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Software Master</a></li>
                                                    <li aria-haspopup="true"><a href="#">Plans</a></li>
                                                    <li aria-haspopup="true"><a href="#">Businesses</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Customer</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Customers</a></li>
                                                    <li aria-haspopup="true"><a href="#">Branch Types</a></li>
                                                    <li aria-haspopup="true"><a href="#">Menu Settings</a></li>
                                                    <li aria-haspopup="true"><a href="#">Box Settings</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Account</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Accounts</a></li>
                                                    <li aria-haspopup="true"><a href="#">Secondary Account Group</a></li>
                                                    <li aria-haspopup="true"><a href="#">Primary Account Group</a></li>
                                                    <li aria-haspopup="true"><a href="#">Books</a></li>
                                                    <li aria-haspopup="true"><a href="#">Book Types</a></li>
                                                    <li aria-haspopup="true"><a href="#">Bill From</a></li>
                                                    <li aria-haspopup="true"><a href="#">Book Settings</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Location</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">City</a></li>
                                                    <li aria-haspopup="true"><a href="#">Taluka</a></li>
                                                    <li aria-haspopup="true"><a href="#">District</a></li>
                                                    <li aria-haspopup="true"><a href="#">State</a></li>
                                                    <li aria-haspopup="true"><a href="#">Country</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">GST</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Rate</a></li>
                                                    <li aria-haspopup="true"><a href="#">Invoice Types</a></li>
                                                    <li aria-haspopup="true"><a href="#">Ports</a></li>
                                                    <li aria-haspopup="true"><a href="#">Collections</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Product</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Colour</a></li>
                                                    <li aria-haspopup="true"><a href="#">Amount Calculations</a></li>
                                                    <li aria-haspopup="true"><a href="#">Size</a></li>
                                                    <li aria-haspopup="true"><a href="#">Stock Types</a></li>
                                                    <li aria-haspopup="true"><a href="#">Quality Types</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Transport</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Packing</a></li>
                                                    <li aria-haspopup="true"><a href="#">Description</a></li>
                                                    <li aria-haspopup="true"><a href="#">LR Charges</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Customer</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Firms</a></li>
                                            <li aria-haspopup="true"><a href="#">Branches</a></li>
                                            <li aria-haspopup="true"><a href="#">Users</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Account</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Add</a></li>
                                            <li aria-haspopup="true"><a href="#">Secondary Account Group</a></li>
                                            <li aria-haspopup="true"><a href="#">Primary Account Group</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Product</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Add</a></li>
                                            <li aria-haspopup="true"><a href="#">Design</a></li>
                                            <li aria-haspopup="true"><a href="#">Colour</a></li>
                                            <li aria-haspopup="true"><a href="#">Size</a></li>
                                            <li aria-haspopup="true"><a href="#">Fabric</a></li>
                                            <li aria-haspopup="true"><a href="#">Group</a></li>
                                            <li aria-haspopup="true"><a href="#">Sub Group</a></li>
                                            <li aria-haspopup="true"><a href="#">Shade</a></li>
                                            <li aria-haspopup="true"><a href="#">Packing</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Broker</a></li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Location</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">City</a></li>
                                            <li aria-haspopup="true"><a href="#">Branch-City Mapping</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Vehicles</a></li>
                                    <li aria-haspopup="true"><a href="#">Drivers</a></li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">LR</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Packing</a></li>
                                            <li aria-haspopup="true"><a href="#">Description</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="fa fa-cart-arrow-down"></i> Transaction <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Booking</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">LR</a></li>
                                            <li aria-haspopup="true"><a href="#">Chalan</a></li>
                                            <li aria-haspopup="true"><a href="#">Invoice</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Delivery</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Chalan Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Delivery Invoice</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Sales</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Quotation</a></li>
                                            <li aria-haspopup="true"><a href="#">Praforma Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Sales Order</a></li>
                                            <li aria-haspopup="true"><a href="#">Chalan / Packing Slip</a></li>
                                            <li aria-haspopup="true"><a href="#">Sales</a></li>
                                            <li aria-haspopup="true"><a href="#">Sales Return</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Purchase</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Purchase Order</a></li>
                                            <li aria-haspopup="true"><a href="#">Purchase Chalan</a></li>
                                            <li aria-haspopup="true"><a href="#">Purchase</a></li>
                                            <li aria-haspopup="true"><a href="#">Jobwork Purchase</a></li>
                                            <li aria-haspopup="true"><a href="#">Purchase Return</a></li>
                                            <li aria-haspopup="true"><a href="#">General Expenses</a></li>
                                            <li aria-haspopup="true"><a href="#">General Expenses Multi</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Credit Note</a></li>
                                    <li aria-haspopup="true"><a href="#">Debit Note</a></li>
                                </ul>
                            </li>
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="fa fa-inr"></i> Account <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Payment</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Bank Payment</a></li>
                                            <li aria-haspopup="true"><a href="#">Cash Payment</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Receive</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Bank Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Cash Receive</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Account Opening Balance</a></li>
                                    <li aria-haspopup="true"><a href="#">Product Opening Stock</a></li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Journal J.V.</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">General J.V.</a></li>
                                            <li aria-haspopup="true"><a href="#">Bill Base J.V.</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">GST Filling</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">GSTR 01</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 02, 2A, 2B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 03B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 04, 4B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 09, 9C</a></li>
                                            <li aria-haspopup="true"><a href="#">ITC 04</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Reconsilation</a></li>
                                    <li aria-haspopup="true"><a href="#">Cash Auto Payment</a></li>
                                </ul>
                            </li>
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="fa fa-spinner"></i> Reports <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Sales & Purchase</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Sales</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Detail Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Summary Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Item Wise Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Monthly Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Sales Order Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Sales Quotation Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Proforma Invoice Register</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Purchase</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Detail Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Summary Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Item Wise Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Monthly Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Purchase Order Register</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Outstanding</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Sales</a></li>
                                                    <li aria-haspopup="true"><a href="#">Sales vs Ledger</a></li>
                                                    <li aria-haspopup="true"><a href="#">Purchase</a></li>
                                                    <li aria-haspopup="true"><a href="#">Purchase vs Ledger</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Book & Register</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">LR Booking Register</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">LR Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Stock Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Booking Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Daily Summary</a></li>
                                                    <li aria-haspopup="true"><a href="#">Monthly Summary</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Loading Report</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Monthly Report</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">LR Delivery Register</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">LR Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Stock Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Delivery Register</a></li>
                                                    <li aria-haspopup="true"><a href="#">Daily Summary</a></li>
                                                    <li aria-haspopup="true"><a href="#">Monthly Summary</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Loading Report</a></li>
                                                    <li aria-haspopup="true"><a href="#">Chalan Monthly Report</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true"><a href="#">Bank Book</a></li>
                                            <li aria-haspopup="true"><a href="#">Cash Book</a></li>
                                            <li aria-haspopup="true"><a href="#">Journal Book</a></li>
                                            <li aria-haspopup="true"><a href="#">Day Book</a></li>
                                            <li aria-haspopup="true"><a href="#">Voucher Book</a></li>
                                            <li aria-haspopup="true"><a href="#">TDS & TCS Register</a></li>
                                            <li aria-haspopup="true"><a href="#">Broker Register</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Stock</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Stock In/Out Detail</a></li>
                                            <li aria-haspopup="true"><a href="#">Stock Statement</a></li>
                                            <li aria-haspopup="true"><a href="#">Item Wise</a></li>
                                            <li aria-haspopup="true"><a href="#">Group Wise</a></li>
                                            <li aria-haspopup="true"><a href="#">Stock In Process</a></li>
                                            <li aria-haspopup="true"><a href="#">Stock In Ware House</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Prod. & Inventory</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Prod. Register</a></li>
                                            <li aria-haspopup="true"><a href="#">Batch Master Register</a></li>
                                            <li aria-haspopup="true"><a href="#">Issue Register</a></li>
                                            <li aria-haspopup="true"><a href="#">Receive Register</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Jobwork</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Work Issue Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Work Receive Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Work Pending Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Jobwork Receive Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Jobwork Issue Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Jobwork Pending Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Issue Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Receive Chalan Reg</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Pending Reg</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">GST Register</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">GSTR 01</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 02, 2A, 2B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 03B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 04, 4B</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR 09, 9C</a></li>
                                            <li aria-haspopup="true"><a href="#">ITC 04</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR Setoff</a></li>
                                            <li aria-haspopup="true"><a href="#">GSTR Reconsilation</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Account Register</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Ledger Head Print</a></li>
                                            <li aria-haspopup="true"><a href="#">Ledger</a></li>
                                            <li aria-haspopup="true"><a href="#">Ledger Multi</a></li>
                                            <li aria-haspopup="true"><a href="#">Ledger Month Wise</a></li>
                                            <li aria-haspopup="true"><a href="#">Interest Calculator</a></li>
                                            <li aria-haspopup="true"><a href="#">Payable / Receivable</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Financial Reports</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Trial Balance Summary</a></li>
                                            <li aria-haspopup="true"><a href="#">Trial Balance Detail</a></li>
                                            <li aria-haspopup="true"><a href="#">Trading Account</a></li>
                                            <li aria-haspopup="true"><a href="#">Profit & Loss</a></li>
                                            <li aria-haspopup="true"><a href="#">Balance Sheet</a></li>
                                            <li aria-haspopup="true"><a href="#">Balance Sheet Schedule</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="fa fa-tasks"></i> Inventory <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Production</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Consumption (BOM)</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Batch Master</a></li>
                                                    <li aria-haspopup="true"><a href="#">Yarn Master</a></li>
                                                    <li aria-haspopup="true"><a href="#">Grey Master</a></li>
                                                    <li aria-haspopup="true"><a href="#">Saree Master</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Gen. Prod.</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Production</a></li>
                                                    <li aria-haspopup="true"><a href="#">Yarn Production</a></li>
                                                    <li aria-haspopup="true"><a href="#">Beam Production</a></li>
                                                    <li aria-haspopup="true"><a href="#">Grey Production</a></li>
                                                    <li aria-haspopup="true"><a href="#">Saree Production</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Issue & Receive</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Yarn</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Issue</a></li>
                                                    <li aria-haspopup="true"><a href="#">Receive</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Beam</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Issue for OutsideWork</a></li>
                                                    <li aria-haspopup="true"><a href="#">Receive From Yarn Issue</a></li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="sub-menu-sub">
                                                <a href="#">Grey</a>
                                                <ul class="sub-menu">
                                                    <li aria-haspopup="true"><a href="#">Issue for OutsideWork</a></li>
                                                    <li aria-haspopup="true"><a href="#">Receive From OutsideWork</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true"><a href="#">Beam Entry</a></li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Inventory</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Issue</a></li>
                                            <li aria-haspopup="true"><a href="#">Receive</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Jobwork</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Work Dispatch</a></li>
                                            <li aria-haspopup="true"><a href="#">Work Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Issue</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Mill Jobwork</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Issue</a></li>
                                            <li aria-haspopup="true"><a href="#">Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Issue</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Cutting Process</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Taka to Pcs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li aria-haspopup="true">
                                <a href="#" class="sub-icon"><i class="fa fa-gear"></i> Settings <i class="fa fa-angle-down horizontal-icon"></i></a>
                                <ul class="sub-menu">
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Book Setting</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Books</a></li>
                                            <li aria-haspopup="true"><a href="#">Multi Print Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Multi Print Voucher</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Merge</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Account Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Product Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Broker Master</a></li>
                                            <li aria-haspopup="true"><a href="#">City Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Vehicle Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Driver Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Packing Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Description Master</a></li>
                                            <li aria-haspopup="true"><a href="#">Taka Merge</a></li>
                                            <li aria-haspopup="true"><a href="#">Taka Demerge</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Year</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Create New Year</a></li>
                                            <li aria-haspopup="true"><a href="#">Year End Process</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Transfer Next Year</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Closing Stock</a></li>
                                            <li aria-haspopup="true"><a href="#">Closing Amount</a></li>
                                            <li aria-haspopup="true"><a href="#">Sales Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Purchase Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Work Dispach For Job</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Receive For Work</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Issue</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Job Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Taka Production</a></li>
                                            <li aria-haspopup="true"><a href="#">Box Production</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Delete Previous Year</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Closing Stock</a></li>
                                            <li aria-haspopup="true"><a href="#">Closing Amount</a></li>
                                            <li aria-haspopup="true"><a href="#">Sales Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Purchase Invoice</a></li>
                                            <li aria-haspopup="true"><a href="#">Work Dispach For Job</a></li>
                                            <li aria-haspopup="true"><a href="#">Job Receive For Work</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Issue</a></li>
                                            <li aria-haspopup="true"><a href="#">Mill Job Receive</a></li>
                                            <li aria-haspopup="true"><a href="#">Taka Production</a></li>
                                            <li aria-haspopup="true"><a href="#">Box Production</a></li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="sub-menu-sub">
                                        <a href="#">Transport Settings</a>
                                        <ul class="sub-menu">
                                            <li aria-haspopup="true"><a href="#">Firm</a></li>
                                            <li aria-haspopup="true"><a href="#">Branch</a></li>
                                            <li aria-haspopup="true"><a href="#">LR Rate</a></li>
                                            <li aria-haspopup="true"><a href="#">Contract Rate</a></li>
                                            <li aria-haspopup="true"><a href="#">LR Booking Range</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a class="horizontal-left-icon" href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </nav>
                    <!--Nav end -->
                </div>
            </div>