<div class="card">
    <div class="card-header">
        <!--<h3 class="card-title">Add/Edit Product</h3>-->
    </div>
    <div class="card-body">
        <div class="row userform">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="hidden" id="Id"/>
                    <label for="Name">Account Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Account Name">                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="PrintName">Print Account Name</label>
                    <input type="text" class="form-control" id="PrintName" placeholder="Print Account Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="AccountGroupId">Account Group</label>
                    <select class="form-control select2-show-search" id="AccountGroupId"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">                    
                    <label for="Address1">Address Line 1</label>
                    <input type="text" class="form-control" id="Address1" placeholder="Address Line 1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Address2">Address Line 2</label>
                    <input type="text" class="form-control" id="Address2" placeholder="Address Line 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Address3">Address Line 3</label>
                    <input type="text" class="form-control" id="Address3" placeholder="Address Line 3">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="CountryId">Country</label>
                    <select class="form-control select2-show-search" id="CountryId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="StateId">State</label>
                    <select class="form-control select2-show-search" id="StateId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DistrictId">District</label>
                    <select class="form-control select2-show-search" id="DistrictId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="TalukaId">Taluka</label>
                    <select class="form-control select2-show-search" id="TalukaId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CityId">City</label>
                    <select class="form-control select2-show-search" id="CityId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="Pincode">Pincode</label>
                    <input type="text" class="form-control" id="Pincode" placeholder="Pincode">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="KM">KM</label>
                    <input type="text" class="form-control" id="KM" placeholder="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="AreaName">Area</label>
                    <select class="form-control select2-show-search" id="AreaName"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ContactPersonName">Contact Person</label>
                    <input type="text" class="form-control" id="ContactPersonName" placeholder="Contact Person">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="Mobile">Contact Mobile</label>
                    <input type="text" class="form-control" id="Mobile" placeholder="Mobile">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MobileAlternate">Alternate Mobile</label>
                    <input type="text" class="form-control" id="MobileAlternate" placeholder="Alternate Mobile">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputname">Email</label>
                    <input type="text" class="form-control" id="Email" placeholder="Email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="AdharUID">Aadhaar UID</label>
                    <input type="text" class="form-control" id="AdharUID" placeholder="Aadhar UID">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="GSTNumber">GST Number</label>
                    <input type="text" class="form-control" id="GSTNumber" placeholder="GST Number">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PAN">PAN</label>
                    <input type="text" class="form-control" id="PAN" placeholder="PAN">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="TAN">TAN</label>
                    <input type="text" class="form-control" id="TAN" placeholder="TAN">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EximCode">Exim Code</label>
                    <input type="text" class="form-control" id="EximCode" placeholder="Exim Code">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="GSTInvoiceTypeId">GST Invoice Type</label>
                    <select class="form-control select2-show-search" id="GSTInvoiceTypeId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CreditDays">Credit Days</label>
                    <input type="text" class="form-control" id="CreditDays" placeholder="Credit Days">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CreditLimit">Credit Limit</label>
                    <input type="text" class="form-control" id="CreditLimit" placeholder="Credit Limit">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TransportName">Transporter Name</label>
                    <select class="form-control select2-show-search" id="TransportName"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="GSTNumberTransport">Transporter GST Number</label>
                    <input type="text" class="form-control" id="GSTNumberTransport" placeholder="Transporter GST Number">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    <label for="VehicleNumber">Vehicle Number</label>
                    <input type="text" class="form-control" id="VehicleNumber" placeholder="Vehicle Number">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ShippingAccountBranchMappingId">Shipping Party</label>
                    <select class="form-control select2-show-search" id="ShippingAccountBranchMappingId"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="DeliveryAccountBranchMappingId">Delivery Party</label>
                    <select class="form-control select2-show-search" id="DeliveryAccountBranchMappingId"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="BrokerMappingId">Broker</label>
                    <select class="form-control select2-show-search" id="BrokerMappingId"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="TDS">TDS %</label>
                    <input type="text" class="form-control" id="TDS" placeholder="TDS">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="TCS">TCS %</label>
                    <input type="text" class="form-control" id="TCS" placeholder="TCS">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Discount">Discount %</label>
                    <input type="text" class="form-control" id="Discount" placeholder="Discount %">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="InterestRate">Interest %</label>
                    <input type="text" class="form-control" id="InterestRate" placeholder="Interest %">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Commission">Commission %</label>
                    <input type="text" class="form-control" id="Commission" placeholder="Commission %">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="CapitalPercentage">Capital %</label>
                    <input type="text" class="form-control" id="CapitalPercentage" placeholder="Capital %">
                </div>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">IGST</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsIGST">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">Rate With GST in Pur.</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="RateWithGST">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">RCM Party</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="RCMParty">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">Composite Party</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="CompositParty">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">E-Commerce Party</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsEcommerce">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>
            <div class="col-md-2">
                <div><label for="exampleInputname">Active</label></div>
                <label class="custom-switch">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsActive">
                    <span class="custom-switch-indicator"></span>
                </label>
            </div>

        </div>
    </div>
    <div class="card-footer text-right">
        <a href="javascript:void(0);" class="btn btn-primary mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save" onclick="SaveDetail()"><i class="fa fa-save"></i>&nbsp;Save</a>
        <a href="javascript:void(0);" class="btn btn-blue mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
        <a href="javascript:void(0);" class="btn btn-success mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
        <a href="javascript:void(0);" class="btn btn-danger mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete" onclick="Delete(0)"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
        <a href="javascript:void(0);" class="btn-back btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
        <a href="javascript:void(0);" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
    </div>
</div>