<div class="table-responsive">
    <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
        <thead>
            <tr>
                <th class="border-bottom-0">PARTY NAME</th>
                <th class="border-bottom-0">A/C GROUP</th>
                <th class="border-bottom-0">GST NO</th>
                <th class="border-bottom-0">CITY</th>
                <th class="border-bottom-0">MOBILE NO</th>
                <th class="border-bottom-0 text-center" style="width:80px!important;">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>