<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="side-tab-body p-0 border-0" id="parentVerticalTab">
        <nav class="first-sidemenu">
            <ul class="resp-tabs-list hor_1">
                <li class="home-sparic" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <i class="side-menu__icon typcn typcn-device-desktop"></i><div class="slider-text">Dashboard</div>
                </li>
                <li class="submenu-master" data-toggle="tooltip" data-placement="right" title="Masters">
                    <i class="typcn typcn-th-large-outline hor-icon"></i><div class="slider-text">Masters</div>
                </li>
                <li class="submenu-transaction" data-toggle="tooltip" data-placement="right" title="Transactions">
                    <i class="fa fa-cart-arrow-down"></i><div class="slider-text">Transactions</div>
                </li>
                <li class="submenu-account" data-toggle="tooltip" data-placement="right" title="Account">
                    <i class="fa fa-inr"></i><div class="slider-text">Account</div>
                </li>
                <li class="submenu-reports" data-toggle="tooltip" data-placement="right" title="Reports">
                    <i class="fa fa-spinner"></i><div class="slider-text">Reports</div>
                </li>
                <li class="submenu-inventory" data-toggle="tooltip" data-placement="right" title="Inventory">
                    <i class="fa fa-tasks"></i><div class="slider-text">Inventory</div>
                </li>
                <li class="submenu-settings" data-toggle="tooltip" data-placement="right" title="Settings">
                    <i class="fa fa-gear"></i><div class="slider-text">Settings</div>
                </li>
            </ul>
        </nav>
        <nav class="second-sidemenu">
            <ul class="resp-tabs-container hor_1">
                <li class="home-sparic">
                    <h4 class="font-weight-semibold"><i class="typcn typcn-device-desktop"></i> Home</h4>
                    <a class="slide-item" href="index.html">Dashboard 01</a>
                    <a class="slide-item" href="index2.html">Dashboard 02 </a>
                    <a class="slide-item" href="index3.html">Dashboard 03</a>
                    <a class="slide-item" href="index4.html">Dashboard 04</a>
                    <a class="slide-item" href="index5.html">Dashboard 05</a>
                    <h6 class="font-weight-semibold mt-5 mb-4">Notifications</h6>
                    <div class="row p-2">
                        <div class="col-6 p-0">
                            <div class="text-center border-right-0 border">
                                <i class="ti-headphone fs-30 text-secondary"></i>
                                <a><small class="mb-0">Support</small></a>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="border text-center">
                                <i class="ti-bell fs-30 text-warning"></i>
                                <a><small class="mb-0">Notify</small></a>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="text-center border-right-0 border border-top-0">
                                <i class="ti-panel fs-30 text-primary"></i>
                                <a><small class="mb-0">Settings</small></a>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="border text-center border-top-0">
                                <i class="ti-layers fs-30 text-danger"></i>
                                <a><small class="mb-0">Layouts</small></a>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-semibold mt-5 mb-4">Active Users</h6>
                    <div class="row">
                        <div class="col text-center">
                            <div class="chart-circle mt-2 mb-2 chart-circle-sm" data-value="0.65" data-thickness="5" data-color="#467fcf">
                                <div class="chart-circle-value"><div class="">65% </div></div>
                            </div>
                            <small>Active</small>
                        </div>
                        <div class="col text-center">
                            <div class="chart-circle mt-2 mb-2 chart-circle-sm" data-value="0.35" data-thickness="5" data-color="#5eba00">
                                <div class="chart-circle-value"><div class="">35% </div></div>
                            </div>
                            <small>Deactive</small>
                        </div>
                    </div>
                    <h6 class="font-weight-semibold mt-5 mb-4">Sales Updates</h6>
                    <div class="mb-4">
                        <p class="mb-2">Daily<span class="float-right text-default">85%</span></p>
                        <div class="progress progress-sm mb-3 h-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-85"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="mb-2">Weekly<span class="float-right text-default">75%</span></p>
                        <div class="progress progress-sm mb-3 h-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-75"></div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="mb-2">Monthly<span class="float-right text-default">70%</span></p>
                        <div class="progress progress-sm mb-3 h-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-70"></div>
                        </div>
                    </div>
                </li>
                <li class="submenu-master">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Masters</h4>
                    <a href="#" class="slide-item">Add Account</a>
                    <a href="#" class="slide-item">Add Product</a>
                    <a href="#" class="slide-item">Add City</a>
                </li>
                <li class="submenu-transaction">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Transactions</h4>
                    <a href="#" class="slide-item">Booking LR</a>
                    <a href="#" class="slide-item">Booking Chalan</a>
                    <a href="#" class="slide-item">Booking Invoice</a>
                    <a href="#" class="slide-item">Chalan Receive</a>
                    <a href="#" class="slide-item">Delivery Invoice</a>
                    <a href="#" class="slide-item">Chalan / Pkg. Slip</a>
                    <a href="#" class="slide-item">Sales</a>
                    <a href="#" class="slide-item">Purchase</a>
                    <a href="#" class="slide-item">Jobwork Purchase</a>
                    <a href="#" class="slide-item">General Exp. Multi</a>
                    <a href="#" class="slide-item">Credit Note</a>
                    <a href="#" class="slide-item">Debit Note</a>
                </li>
                <li class="submenu-account">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Account</h4>
                    <a href="#" class="slide-item">Bank Payment</a>
                    <a href="#" class="slide-item">Cash Payment</a>
                    <a href="#" class="slide-item">Bank Receive</a>
                    <a href="#" class="slide-item">Cash Receive</a>
                    <a href="#" class="slide-item">General J.V.</a>
                </li>
                <li class="submenu-reports">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Reports</h4>
                    <a href="#" class="slide-item">Sales Summary</a>
                    <a href="#" class="slide-item">Purchase Summary</a>
                    <a href="#" class="slide-item">Stock Statement</a>
                    <a href="#" class="slide-item">GSTR SetOff</a>
                    <a href="#" class="slide-item">Leadger</a>
                    <a href="#" class="slide-item">Payable/ Receivable</a>
                </li>
                <li class="submenu-inventory">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Inventory</h4>
                    <a href="#" class="slide-item">Production</a>
                    <a href="#" class="slide-item">Issue</a>
                    <a href="#" class="slide-item">Receive</a>
                    <a href="#" class="slide-item">Work Dispach</a>
                    <a href="#" class="slide-item">Work Receive</a>
                    <a href="#" class="slide-item">Job Receive</a>
                    <a href="#" class="slide-item">Job Issue</a>
                    <a href="#" class="slide-item">Mill Issue</a>
                    <a href="#" class="slide-item">Mill Receive</a>
                    <a href="#" class="slide-item">Mill Job Receive</a>
                    <a href="#" class="slide-item">Mill Job Issue</a>
                </li>
                <li class="submenu-settings">
                    <h4 class="font-weight-semibold"><i class="side-menu__icon bx bx-minus-front typcn-info-outline"></i> Settings</h4>
                    <a href="#" class="slide-item">Books</a>
                    <a href="#" class="slide-item">Multi Print Invoice</a>
                    <a href="#" class="slide-item">Multi Print Voucher</a>
                    <a href="#" class="slide-item">Firm</a>
                    <a href="#" class="slide-item">Branch</a>
                    <a href="#" class="slide-item">LR Rate</a>
                    <a href="#" class="slide-item">Contract Rate</a>
                    <a href="#" class="slide-item">LR Booking Range</a>
                </li>
            </ul>
        </nav>
    </div><!-- col-4 -->
</aside>