CREATE OR ALTER PROCEDURE [dbo].[sp_TransportLRChargesList_Select] 
AS
BEGIN
	SELECT Id As Value,Title As Text
	FROM [TransportLRCharges]
	WHERE Deleted = 0 AND Active = 1
	ORDER BY Title
END


